asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
Django==5.2.5
environs
environs>=11.0
idna==3.10
iniconfig==2.1.0
marshmallow==4.0.1
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dotenv
python-dotenv>=1.0
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise
whitenoise>=6,<7
itsdangerous>=2.1
